<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="utf-8"/>
        <link href="../static/reset.css" rel="stylesheet"> <!--Reset.css uit cursus web engineering-->
        <link href="../static/style.css" rel="stylesheet">

    </head>



    <body>

        <header>
            <img class="logo-menu" src="../static/img/logo_Hagel_1.png" alt="Kitos logo"/>

            <h1>Bib Hagelstein</h1>

        </header>

        <a href="/boeken">
        <div class="vakjes_home boekenlink">
            <h3>Boeken</h3>
            <img class="afbeelding_home" src="../static/img/boeken.jpg" alt="Afbeelding boeken"/>
        </div>
        </a>

        <a href="/lenen">
        <div class="vakjes_home lenenlink">
            <h3>Lenen/indienen</h3>
            <img class="afbeelding_home" src="../static/img/lenen.jpg" alt="Afbeelding lenen/indienen"/>
        </div>
        </a>

        <a href="/beheer">
        <div class="vakjes_home beheerlink">
            <h3>Beheer</h3>
            <img class="afbeelding_home" src="../static/img/beheer.png" alt="Afbeelding beheer"/>
        </div>
        </a>
        
        <footer class="footer">
            <p>
                College Hagelstein <br>
                Berlaarbaan 229<br>
                2860 Sint-Katelijne-Waver<br>
                telefoon: 015 55 19 79
            </p>
        </footer>
        
    </body>


</html>